<html>
<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link href="include/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="include/css/lato.css" rel="stylesheet" type="text/css">
  <link href="include/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="include/slick/slick.css" rel="stylesheet" type="text/css">
  <link href="include/slick/slick-theme.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="favicon.png" type="image/png" sizes="16x16">
  <!-- Homescreen icon for web app -->
  <link rel="apple-touch-icon" href="/mobile-icon.png">
  <link rel="icon" sizes="296x296" href="/mobile-icon.png">
  <!-- Fullscreen Mode for web app -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Manifest file -->
  <link rel="manifest" href="/manifest.json">
  <!-- iPhone Splash Screens -->
    <!-- iPhone (Retina) -->
  <link href="splash.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
  <link href="splash-small.jpg"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

  <!-- Meta info - descriptive -->
  <title>Explaain - News Explained Simply</title>
  <meta name="title" content="Explaain - News Explained Simply">
  <meta name="description" content="Keeping up with the news should be as simple as pressing Get Me Home on your travel app. Well, now it is.">
  <meta name="keywords" content="Explaain, news, current affairs, interactive, news tutor, issue, politics, facts, learn news, teach news, article, mind map, fact check"/>
  <meta name="author" content="Explaain">
  <meta name="copyright" content="2014-2016 Explaain Ltd. All rights reserved.">
  <meta name="robots" content="all">

</head>
<body>
  <div class="logo"><img src="logo.png"></div>
  <!-- <div class="your-class" style="margin-top: 50px;">
    <div style="background:red; height: 40px;">your content</div>
    <div style="background:red; height: 60px;">your content</div>
    <div style="background:red; height: 80px;">your content</div>
  </div> -->
  <div class="cards">

  </div>
  <script src="include/js/jquery.min.js"></script>
  <script src="include/js/hammer.min.js"></script>
  <script src="include/slick/slick.min.js"></script>
  <!-- <script src="include/js/jquery.hammer.js"></script> -->
  <!-- <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  <script src="include/js/doctop.min.js"></script>
  <script src="include/js/archieml.js"></script>
  <script src="include/js/markdown.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
