<html>
<head>
  <link href="include/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="include/css/lato.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="cards">
    <!-- <div class="card toFade">
      <div class="card-visible">
        <div class="header-image">
          <img src="sample1.png">
          <h3>
            Apple vs FBI
          </h3>
        </div>
        <h2>

        </h2>
        <div class="body-content">
          <p>
            <a href="#1" class="toHighight">The FBI has managed to hack</a> into the <a href="#2">iPhone</a> of <a href="#3">one of the San Bernadino gunmen</a> <a href="#4">without the help of Apple</a>, who were <a href="#5">refusing despite a court order</a>.
          </p>
        </div>
      </div>
      <div class="card-spacer" style="height: 306px"></div>
    </div>
    <div class="card toFade">
      <div class="card-visible">
        <div class="header-image">
          <img src="sample.png">
          <h3>
            EU Referendum
          </h3>
        </div>
        <h2>

        </h2>
        <div class="body-content">
          <p>
            Lorem <a href="#1">ipsum</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="card-spacer" style="height: 306px"></div>
    </div> -->
  </div>
  <script src="include/js/jquery.min.js"></script>
  <script src="include/js/doctop.min.js"></script>
  <script src="include/js/archieml.js"></script>
  <script src="script.js"></script>
</body>
</html>
