<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="include/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="include/css/lato.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="cards"></div>
  <script src="include/js/jquery.min.js"></script>
  <script src="include/js/doctop.min.js"></script>
  <script src="include/js/archieml.js"></script>
  <script src="script.js"></script>
</body>
</html>
