<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

  <!-- Header -->
      <a name="about"></a>
      <section class="intro-header reverse-colors">
		<div class="epanel panel-1">
			<div class="to-type">
				<span style="font-weight: 400">News:</span>
			</div>
			<div>
				organised how your mind works
			</div>
		</div>
		<div class="panel-table">
			<div class="panel-row">
				<div class="epanel panel-2">
					<ul>
						<li>
							<h3><i class="fa fa-hand-pointer-o"></i> Interactive articles</h3>
						</li>
						<li>
							<h3><i class="fa fa-map-signs"></i><i class="fa fa-arrows nope"></i> Explore in any direction</h3>
						</li>
						<li>
							<h3><i class="fa fa-bicycle"></i><i class="fa fa-hourglass-half nope"></i> Read and learn twice as&nbsp;fast</h3>
						</li>
					</ul>
				</div>
				<div class="epanel panel-3">
					<h2 class="logo">explaain</h2>
					<h3 class="slogan">News. Explained. Simply.</h3>

					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
						<form action="//explaain.us10.list-manage.com/subscribe/post?u=b960c1e93261e60dcc65ae946&amp;id=da8d1c2a37" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<div class="mc-field-group">
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
								</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;"><input type="text" name="b_b960c1e93261e60dcc65ae946_da8d1c2a37" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Get involved!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>

					<div class="social-logos">
						<a href="https://twitter.com/explaain" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="https://www.facebook.com/explaain" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="mailto:jeremy.n.evans+explaain@gmail.com" target="_blank">
							<i class="fa fa-envelope"></i>
						</a>
					</div>
				</div>
				<!-- /.container -->

			</div>
		</div>

    </section>
      <!-- /.intro-header -->


      <section class="epanel panel-media">
      	<div class="container">
  			<h2>Check us out in...</h2>
  			<div class="row">
  				<div class="col-lg-3">
  					<a target="_blank" href="http://journalism.co.uk/news/issues-not-news-how-explaain-wants-to-reinvent-the-article/s2/a565019/" style="vertical-align: middle;"><img src="/img/press/journalismcouk.gif" style="margin: 50px 0;"></a>
  				</div>
  				<div class="col-lg-3">
  					<a target="_blank" href="http://www.forbes.com/30-under-30-europe-2016/media/"><img src="/img/press/forbes.png" style="margin: 30px 0;"></a>
  				</div>
  				<div class="col-lg-3">
  					<a target="_blank" href="http://bbcnewslabs.co.uk/2015/05/13/Explaain/"><img src="/img/press/bbcnewslabs.png" style="max-height: 150px"></a>
  				</div>
  				<div class="col-lg-3">
  					<a target="_blank" href="http://www.cofmag.com/journalism-2-0/"><img src="/img/press/cofoundermag.png" style="margin: 45px 0;"></a>
  				</div>
  			</div>
  		</div>
  	</section>

  	<section class="epanel panel-services reverse-colors">
  		<div class="bullet-table">
  			<div class="bullet-row">
   				<div class="bullet-button">
  					<i style="font-size: 3em;" class="fa fa-rocket"></i>
  				</div>
  				<div class="bullet-description">
  					<h3>Interactive articles</h3>
  					<h4>Our new way of reading the news</h4>
  				</div>
  <!-- 				<div class="bullet-button">
  					<a href="http://95.138.190.189/election-debates/?src=explore" target="_blank">
  						<button type="button" class="btn btn-default btn-lg">
  							<i class="fa fa-rocket"></i> Explore
  						</button>
  					</a>
  				</div> -->
  			</div>
  			<div class="bullet-row">
   				<div class="bullet-button">
  					<i style="font-size: 2.8em;" class="fa fa-envelope"></i>
  				</div>
  				<div class="bullet-description">
  					<h3>Our daily newsletter</h3>
  					<h4>Today's big issue, in a 5 min read</h4>
  				</div>
  <!-- 				<div class="bullet-button">
  					<a href="http://bit.ly/explaain_subscribe" target="_blank">
  						<button type="button" class="btn btn-default btn-lg">
  							<i class="fa fa-envelope"></i> Subscribe
  						</button>
  					</a>
  				</div> -->
  			</div>
  			<div class="bullet-row">
   				<div class="bullet-button">
  					<i style="font-size: 3em;" class="fa fa-clone"></i>
  				</div>
  				<div class="bullet-description">
  					<h3>Issue flashcards</h3>
  					<h4>The key facts, in the palm of your hand</h4>
  				</div>
  <!-- 				<div class="bullet-button">
  					<a href="flashcard.html" target="_blank">
  						<button type="button" class="btn btn-default btn-lg">
  							<i class="fa fa-gift"></i> Buy
  						</button>
  					</a>
  				</div> -->
  			</div>
  		</div>
  	</section>

  	<section class="epanel panel-services">
  		<h3 style="line-height: 1.3em; margin: 0.5em 0 0 0;">View our May 2015 Election site</h3>
  		<a href="http://explaain.com/election" target="_blank" style="display:block; margin: 1.5em 0;">
  			<button type="button" class="btn btn-default btn-lg">
  				<span class="fa fa-mortar-board" aria-hidden="true"></span>  Get issue savvy
  			</button>
  		</a>
  	</section>

  	<section class="epanel panel-contact reverse-colors">
  		<h3>Like&nbsp;what we&nbsp;do?</h3>
  		<h4><span></span>Get in touch</h4>
  		<div class="social-buttons">
  			<a href="https://twitter.com/explaain" target="_blank">
  				<button type="button" class="btn btn-default btn-lg">
  					<i class="fa fa-twitter"></i> Twitter
  				</button>
  			</a>
  			<a href="https://www.facebook.com/explaain" target="_blank">
  				<button type="button" class="btn btn-default btn-lg">
  					<i class="fa fa-facebook"></i> Facebook
  				</button>
  			</a>
  			<a href="mailto:jeremy.n.evans+explaain@gmail.com" target="_blank">
  				<button type="button" class="btn btn-default btn-lg">
  					<i class="fa fa-envelope"></i> Email
  				</button>
  			</a>
  		</div>
  	</section>

    <% include ../partials/footer.ejs %>

</body>
</html>
